<section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title is-size-4-mobile">
      Name Popularity
    </p>
    <p class="subtitle is-size-6-mobile">
      Search for the popularity of a name over the years
    </p>
  </div>
</section>

<div *ngIf="!formatted_name_sum">
  <progress class="progress is-medium" max="100"></progress>
</div>

<section class="section">
  <div class="columns" *ngIf="formatted_name_sum">
    <div class="column is-one-third">
      <form action="/" method="GET">
        <label class="label">Enter a name</label>
        <input class="input is-medium" name="name" [value]="input_name" placeholder="Enter a name">
      </form>
    </div>
    <div class="column has-text-centered">
      <div class="card" >
        <div class="card-content">
          <p class="is-size-4">There have been <strong>{{ formatted_name_sum }}</strong> people named <em>{{ input_name }}</em></p>
          <br />
          <p class="is-size-4"><em>{{ input_name }}</em>'s most popular year was <strong>{{ top_year }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="chart"></div>
