<mat-toolbar color="primary">
  <span>Name Popularity</span>
</mat-toolbar>

<div style="height: 100vh;" *ngIf="!formatted_name_sum">
    <mat-spinner style="position: fixed; top: 30%; left: 45%;"></mat-spinner>
</div>

<div class="container" *ngIf="formatted_name_sum">
  <div class="row"> </div>
  <div class="row">
      <form action="/" method="GET">
        <mat-form-field class="example-full-width">
          <mat-label>Enter a name</mat-label>
          <input matInput name="name" [value]="input_name">
        </mat-form-field>
      </form>
  </div>
  <div class="row">
      <h2>There have been {{ formatted_name_sum }} people named {{ input_name }}</h2>
  </div>
  <div class="row">
      <h2>{{ input_name }}'s most popular year was {{ top_year }}</h2>
  </div>
</div>

<div id="chart"></div>
