<mat-toolbar color="primary">
  <span>Name Popularity</span>
</mat-toolbar>

<mat-spinner *ngIf="!formatted_name_sum"></mat-spinner>

<mat-grid-list cols="1" rowHeight="10vh" *ngIf="formatted_name_sum">
  <mat-grid-tile style="padding: 10px;">
    <form action="/" method="GET">
      <mat-form-field class="example-full-width">
        <mat-label>Enter a name</mat-label>
        <input matInput name="name" [value]="input_name">
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile style="text-align: center;">
    <h2>There have been {{ formatted_name_sum }} people named {{ input_name }}</h2>
  </mat-grid-tile>
  <mat-grid-tile style="text-align: center;">
    <h2>{{ input_name }}'s most popular year was {{ top_year }}</h2>
  </mat-grid-tile>
</mat-grid-list>

<div id="chart"></div>
